* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}
@font-face {
    font-family: 'Muli';
    /*字体名称*/
    src: url('/static/font/Muli/Muli-Regular.ttf');
    /*字体源文件*/
}

@font-face {
    font-family: 'Muli';
    font-weight: bold;
    /*字体名称*/
    src: url('/static/font/Muli/Muli-Bold.ttf');
    /*字体源文件*/
}

html,
body,
#app {
    font-size: 16px;
    height: 100%;
    width: 100%;
    font-family: 'Muli', sans-serif;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 16px;
    font-weight: bold;
}

input::input-placeholder {
    color: #b8c4ce !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #b8c4ce !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #b8c4ce !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #b8c4ce !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #b8c4ce !important;
}

/* Prevents img without src to appear */
img:not([src]) {
    visibility: hidden;
}

::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(57, 57, 57, .2);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(156, 156, 156, .9);
}

a {
    text-decoration: none;
}


.page {
    overflow: auto;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}